<app-login></app-login>

<ul>
    <li routerLink="/login">Login</li>
    <li routerLink="/register">Register User</li>
</ul>

<div class="parent">
    <div>Parent container</div>
    <div class="child">
        <ng-container *ngIf="isLoaded;else falseMsg">
            loaded success
            <ng-container *ngFor="let arr1 of data;let pos = index">
                <div class="array">{{arr1}} - {{pos}}</div>
            </ng-container>
        </ng-container>
        
    </div>
    <div class="child-success" *ngIf="isLoaded">
        loaded child success
    </div>
</div>


<ng-template #falseMsg>
    <div>loaded false</div>
</ng-template>

<div [ngClass]="{'success': isLoaded, 'error': !isLoaded}">loaded form</div>
<div [class.success]="isLoaded" [class.error]="!isLoaded">Loading using class dot</div>
<router-outlet></router-outlet>
